<%- include('partial/header'); %>
<%- include('widget/search',{type: "list"}); %>
<div class="contributors">
  <h1>Contributors</h1>
  <div><%-describe.contributors ? describe.contributors : '' %></div>
  <p>
    数据来源于 <a href="https://github.com/jaywcjlove/linux-command/graphs/contributors">GitHub Contributors</a>，使用<a href="https://github.com/jaywcjlove/github-action-contributors">github-action-contributors</a>创建。
  </p>
</div>
<%- include('widget/footer',{type: "list"}); %>
<%- include('partial/footer'); %>
