<%- include('partial/header'); %>
<%- include('widget/search',{type: "list"}); %>
<script type="text/javascript" src="<%=relative_path%>js/copy-to-clipboard.js"></script>

<div class="markdown-body">
<% if(md_path){ %>
<span class="edit_btn">
<a target="_blank" href="https://github.com/jaywcjlove/linux-command/edit/master<%=md_path%>">纠正错误</a> 
<span class="split"></span>
<a target="_blank" href="https://github.com/jaywcjlove/linux-command/edit/master<%=md_path%>">添加实例</a>
</span>
<% } %>

<%-mdhtml%>

</div>
<%- include('widget/footer',{type: "list"}); %>
<%- include('partial/footer'); %>