<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="<%=describe.n?describe.n+':':''%><%=describe.d?describe.d+' - ':''%>最专业的Linux命令大全，内容包含Linux命令手册、详解、学习，值得收藏的Linux命令速查手册。">
    <meta name="keywords" content="Linux,Command,命令大全,Linux命令手册<%=describe.n?+','describe.n:''%>">
    <title><%=describe.n?describe.n+' - ':''%>Linux Command</title>
    <link rel="stylesheet" type="text/css" href="<%=relative_path%>css/index.css">
</head>
<body>