<%- include('partial/header'); %>
<%- include('widget/search',{type: "list"}); %>
<div class="hotlist">
  <ul>
  <%describe.arr.forEach(function(page,item){%>
    <li><a href="c<%=page.p%>.html"><%=page.n%> - <%=page.d%></a></li>
  <%});%>
  </ul>
</div>
<%- include('widget/footer',{type: "list"}); %>
<%- include('partial/footer'); %>
